# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# User-specific Xcode data
xcuserdata/

# CocoaPods
Pods/

# Swift Package Manager
.build/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
